/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==============================================================

Global

==============================================================*/

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
	letter-spacing: 0.03em;
}

/*div {
    border: 1px solid Chocolate;
}*/

.content {
	width: 970px;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}

/*==============================================================

Navigation

==============================================================*/

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #eee;
}

.top-navigation > .content {
	height: 70px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.links {
	float: right;
	margin-top: 8px;
}

.links li {
	display: inline-block;
	font-size: 1em; 
	margin-left: 1.5em;
	transition: color 0.25s ease;
}

.links li a:hover {
	cursor: pointer;
	color: #4c5058; 
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation li a {
	color: #838994;
}

a {
	text-decoration: none;
}

/*==============================================================

Banner

==============================================================*/

section.banner {
	padding-top: 280px;
	padding-bottom: 280px;
	background-image: url("../images/first-background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	text-align: center;
}

h1.masthead {
	color: #fff;
	font-size: 3em;
	font-weight: 300;
}

p.masthead-subhead {
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 1em;
}

.big-btn {
	text-shadow: none;
    border-style: none;
    line-height: 1.33;
	margin-top: 1.75em;
	padding: 1em 2em;
	background-color: #f15a29;
	display: inline-block;
	border-radius: 4px;
	font-family: inherit;
	font-weight: inherit;
	font-size: 1em;
	color: #fff;
	transition: background-color 0.25s ease;
}

.big-btn:hover {
	background-color: #d9400e;
}

/*==============================================================

benefits

==============================================================*/

section.benefits {
	text-align: center;
	background-color: #fff;
	padding: 8.125em 0;
	/*height: 600px;*/
	overflow: hidden;
}

.benefits .columns > li {
	width: 33.3333%;
	display: inline-block;
	float: left;
	margin-top: 2em;
	padding: 0 .5em;
}

h2 {
	font-size: 2.65em;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 2em;
}

/*==============================================================

Footer

==============================================================*/

footer.social {
	background-color: #fff;
	text-align: center;
}

footer > .content {
	padding: 1.5em 0 8.125em 0;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

h5 {
	font-weight: 400;
}

footer .icons {
	margin-top: 1em;
}

footer .icons > li {
	width: 30px;
	height: 30px;
	border: 1px solid #ececec;
	border-radius: 15px;
	font: normal normal normal 14px/1 FontAwesome;
	display: inline-block;
	padding-top: 7px;
	margin: 0 2px;
}

.copyright {
	margin-top: 1em;
	font-weight: 300;
	font-size: .85em;
	color: #ccc;
}






